<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @dog.photo.url, alt: "#{@dog.breed.name.capitalize} #{@dog.color.capitalize}", class: "dog-photo"%>
      </div>
      <div class="col-md-4">
        <div class="box-cachorro">
          <span class="titulo-cachorro"><%= "#{@dog.breed.name} #{@dog.color}" %></span>
        </div>
        <div class="ficha-cachorro">
          <p><strong>Raça:</strong> <%= @dog.breed.name %></p>
          <p><strong>Cor:</strong> <%= @dog.color %></p>
          <p><strong>Idade:</strong> <%= pluralize(@dog.age, 'Ano', 'Anos') %> </p>
          <p><strong>Sexo:</strong> <%= Dog.genders[@dog.gender] %></p>
          <p><strong>Tamanho:</strong> <%= Dog.sizes[@dog.size] %></p>
          <p><strong>Valor:</strong><%= number_to_currency(@dog.amount) %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-6">
        <% if session['purchase'].nil? %>
          <%= link_to "Levar!", new_purchase_path(dog_id: @dog.id) , class: "btn-go-buy" %>
        <% else %>
          <%= link_to "Levar!", add_to_cart_purchases_dogs_path(dog_id: @dog.id) , class: "btn-go-buy" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
